<div class="row m-0 p-0">
    <div class="d-flex col-lg-4 col-md-12 h-100 container justify-content-center" id="devIdolData">
        <div class="row">
            <div class="col-12 pt-2 d-block">
                <h1 class="w-100 d-none d-md-block text-center">{{this.idolInfo.idolName}}</h1>
                <app-icon class="img-fluid d-block mx-auto" [idolInfo]="this.idolInfo"></app-icon>
            </div>
            <div class="col-12 d-block">
                <table class="table w-100"></table>
            </div>
        </div>
    </div>
</div>